body{

    background-color: #444; 
    color: #ee6;   

}
h1 {
    text-align: center;
}
p{

    font-family: sans-serif;

}
h1,h2,h3{

    color: #eee; 
}
strong{
    
    border-bottom:2px solid #eee  : ;

}
.the-force{

   font-weight: bold; 
}
.light-side{

    color: #66f;
}
.dark-side{

    color: #f33;
}
#og-trilogy{

    list-style-type: circle;
}
ul:nth-of-type(2) {
    padding-left: 100px;
}
ul:nth-of-type(3) {
    margin-top: 50px;
}
